@{
    ViewData["Title"] = "Početna stranica";
}

<div class="container">
    <h2>Dobrodošli u real time chat aplikaciju.</h2>

    <p>Molimo vas da se ulogujete ili registrujete kako biste pristupili chat aplikaciji.</p>

    <a href="/Identity/Account/Login" class="btn btn-primary">Login</a>
    <a href="/Identity/Account/Register" class="btn btn-secondary">Register</a>
</div>