@{
    ViewData["Title"] = "Početna stranica";
}

<h2>Dobrodošli u real time chat aplikaciju.</h2>
<p>Molimo vas da se <a href="/Identity/Account/Login">ulogujete</a> ili <a href="/Identity/Account/Register">registrujete</a> da biste nastavili.</p>