@model List<ApplicationUser>
@{
    ViewData["Title"] = "Korisnici";
}

<h2>Dobrodošli, @User.Identity.Name!</h2>

@if (TempData["poruka"] != null)
{
    <div class="alert alert-warning">
        @TempData["poruka"]
    </div>
}

<h3>Dostupni korisnici za chat:</h3>
<ul>
    @foreach (var user in Model)
    {
        <li>
            @user.UserName
            [<a href="/Chat/Start?userId=@user.Id">Započni chat</a>]
        </li>
    }
</ul>