@model List<ApplicationUser>
@{
    ViewData["Title"] = "Korisnici";
}

<div class="container d-flex justify-content-center text-center flex-column">
    <h2>Dobrodošli, @User.Identity.Name!</h2>

    @if (TempData["poruka"] != null)
    {
        <div class="alert alert-warning">
            @TempData["poruka"]
        </div>
    }

    <h3>Korisnici za chat</h3>

    <div class="list-group">
        @foreach (var user in Model)
        {
            <a href="/Chat/Start?userId=@user.Id" class="list-group-item list-group-item-action">@user.DisplayName</a>
        }
    </div>
</div>